@import url(./asset-symbols/symbols);
@import url(./language-dropdown/flags);

head {
    background: url(./favicon.png);
    background: url(./logo.png);
    background: url(./logoAlipay.png);
    background: url(./getCode.png);
    background: url(./airbitz.png);
    background: url(./landing_files/main_bg.jpg);
    background: url(./landing_files/bg_video.jpg);
    background: url(./landing_files/youtube.png);
    background: url(./landing_files/obits_logo.png);
    background: url(./landing_files/btsr_logo.png);
    background: url(./landing_files/btn_youtube.svg);
    background: url(./landing_files/land_logo.svg);
    background: url(./landing_files/land_security.svg);
    background: url(./landing_files/land_star.svg);
    background: url(./landing_files/land_switch.svg);
    background: url(./landing_files/pdf_file.svg);
    background: url(./landing_files/sprite_social.svg);
    background: url(./landing_files/logo_big.svg);
    background: url(./landing_files/land_wallet.svg);
    background: url(./landing_files/land_exchange.svg);
    background: url(./landing_files/black_stopwatch.svg);
    background: url(./Easydex-Backround-1-1.png);
    background: url(./Easydex-Backround-1-2.png);
    background: url(./EasyDex-logo-text-small.png);
    background: url(./EasyDex-logo-text-white-small.png);

}
