head {
    background: url(./img/EN.png); 
    background: url(./img/US.png);
    background: url(./img/FR.png);
    background: url(./img/TR.png);
    background: url(./img/CN.png);
    background: url(./img/DE.png);
    background: url(./img/KR.png);
    background: url(./img/KO.png); 
    background: url(./img/ES.png);
    background: url(./img/RU.png);
}

