
# NOTE: configuration for STEEM network
[steem]
#connect to public list, empty
nodes =
server = tcp://127.0.0.1:4244
client = tcp://127.0.0.1:4243
#empty
currency =
exchange =
        STEEM, EASYDEX.STEEM,  http://5.189.130.184:3007/api/v1/steem-sbd-deposit
        SBD, EASYDEX.SBD,  http://5.189.130.184:3007/api/v1/steem-sbd-deposit

owner = easydex-wallet
foreigner = easy-dex
# NOTE not used, it stays for compatibility
wallet_port =
wallet_address =
wallet_password =


# NOTE: configuration for BITSHARES network
[bitshares]
server = tcp://127.0.0.1:4243
client = tcp://127.0.0.1:4244

currency = EASYDEX.BTC, http://5.189.130.184:3007/api/v1/btc-withdraw-tx
exchange =
        EASYDEX.STEEM, STEEM,  http://5.189.130.184:3007/api/v1/steem-sbd-deposit
        EASYDEX.SBD, SBD,  http://5.189.130.184:3007/api/v1/steem-sbd-deposit

owner = easy-dex
foreigner = easydex-wallet
wallet_port = 8092
wallet_address = localhost
wallet_password = bitshares322

#list should be ordered by priority (higher to lower)
nodes =
		ws://93.104.208.139:8090
		wss://dex.rnglab.org
		wss://bit.btsabc.org/ws
		wss://node.btscharts.com/ws
		wss://bitshares.apasia.tech/ws
		wss://japan.bitshares.apasia.tech/ws
		wss://bitshares.dacplay.org/ws
		wss://bitshares-api.wancloud.io/ws
		wss://openledger.hk/ws
		wss://bitshares.crypto.fans/ws
		wss://ws.gdex.io
		wss://ws.gdex.top
		wss://eu.openledger.info/ws
		wss://dexnode.net/ws
		wss://la.dexnode.net/ws
		wss://kc-us-dex.xeldal.com/ws
		wss://btsza.co.za:8091/ws
		wss://api.bts.blckchnd.com
		wss://api-ru.bts.blckchnd.com
		wss://node.market.rudex.org
		wss://eu.nodes.bitshares.ws
		wss://us.nodes.bitshares.ws
		wss://sg.nodes.bitshares.ws
		wss://ws.winex.pro
		wss://api.bts.mobi/ws
		wss://api.btsxchng.com
		wss://api.bts.network
		wss://btsws.roelandp.nl/ws
		wss://api.bitshares.bhuz.info/ws
		wss://bts-api.lafona.net/ws
		wss://kimziv.com/ws
		wss://api.btsgo.net/ws
		wss://bts.proxyhosts.info/wss
		wss://bts.open.icowallet.net/ws
		wss://blockzms.xyz/ws
		wss://crazybit.online
		wss://freedom.bts123.cc:15138/
		wss://bitshares.bts123.cc:15138/
		wss://api.bts.ai/
		wss://ws.hellobts.com/
		wss://bitshares.cyberit.io/
		wss://bts-seoul.clockwork.gr/
		wss://bts.to0l.cn:4443/ws
        wss://bitshares.nu/ws
