@import "../utils/utils";

@mixin theme(
  $primary-text-color,
  $help-text-color,
  $bg-color,
  $dark-text-color,
  $link-text-color,
  $light-text-color,
  $secondary-text-color,
  $success-color,
  $info-color,
  $warning-color,
  $alert-color,
  $super-light-panel-bg-color,
  $panel-bg-color,
  $panel-bg-color-transparent,
  $button-bg-color,
  $button-bg-darkpurple-color,
  $secondary-button-bg-color,
  $fee-color,
  $bid-color,
  $ask-color,
  $call-color,
  $light-panel-bg-color,
  $positive-color,
  $negative-color,
  $row-accent-color,
  $header-color,
  $chat-text-color,
  $input-background,
  $account-header,
  $account-cells,
  $account-cells-transparent,
  $account-green,
  $account-primarytext,
  $account-dimmed,
  $account-border,
  $account-background
) {


  .hidden {
    visibility: hidden;
  }

  .spinner-button-circle .circle-wrapper{
    display: inline-block;
    vertical-align: middle;
    margin-right: 7px;
    margin-top: -2px;
    .circle:before{
      background-color: #fff;
    }
  }

  .color_white{
    color: #fff;
  }

  .fz_12{
    font-size: 12px;
  }

  .fz_14{
    font-size: 14px;
  }

  .form-deposit-withdraw-rmbpay{
    font-family: 'RobotoCondensed-Regular', arial, sans-serif;
    color: $secondary-text-color;
    div.grid-container {
      overflow: hidden;
    }
    input{
      color: $secondary-text-color !important;
    }
    .left-label, .right-label{
      margin-bottom: 0;
    }
    .dropdown-wrapper > div{
      font-weight: normal;
    }
    .set-cursor{
      cursor: pointer;
    }

    .button-group > li > a{
      border: none;
    }

    .dropdown-wrapper {
      ul.dropdown {
        min-width: 230px;

        > li > span {
          color: $secondary-text-color;
          font-weight: normal;
        }
      }
    }
  }

  .disabled-form {
    pointer-events:none;
    opacity: 0.4;
  }

  .tabs-withdraw{
    width: 100%;
    margin-bottom: 20px;
    .is-active a{
      color: #fff !important;
    }
  }
  .color-danger{
    color: #E3745B;
  }

  .color-gray{
    color: darken($primary-text-color,20%);
  }

  .help-text{
    color: $help-text-color;
  }

  #deposit_asset_openledger-dex_CNY,
  #depositRmbpayModal,
  #withdraw_asset_openledger-dex_CNY
  {
    max-width:500px;
  }

  .mt_2{
    margin-top: .2rem;
  }

  .mt_3{
    margin-top: .4rem;
  }

  .mt_5{
    margin-top: .5rem;
  }

  .mt_6{
    margin-top: .7rem;
  }

  .mb_5{
    margin-bottom: .5rem;
  }

  .button-group.btn-row{
    flex-direction: column;
    text-transform: uppercase;
    &.segmented > li > a{
      text-align: left;
    }
  }

  .modal .close-button, .modal [fa-close] {
    z-index: 1000 ;
  }

  .icon.rotate90>svg {
    transform: rotate(90deg);
  }

  .icon svg{
    fill: #fff;
  }

  .account-creation{
    max-width: 608px;
  }

  .gate_fee {
    width: 50% !important;
    display: inline-block;
    vertical-align: top;
    .amount-selector:first-child{
      padding-right: 10px;
    }
    .amount-selector{
      width: 100%;
      display: inline-block;
    }
    .right-selector{
      text-align: right;
      width: 26%;
      display: inline-block;
      color: $secondary-text-color;
      text-transform: uppercase;
      .right-selector-input{
        text-align: right;
        width: 100%;
      }
    }
  }

  .panel.login{
    background-color: $panel-bg-color-transparent;
    .grid-content{
      background-color: $account-cells;
      border-left: 1px solid rgba(128, 128, 128, 0.45);
      border-right: 1px solid rgba(128, 128, 128, 0.45);
      border-bottom: 1px solid rgba(128, 128, 128, 0.45);
    }
    .service-selector .login-tabs li:last-child a{
      border-right: none;
    }
    .login-tabs{
      a{
        background-color: #1d222c;
      }
    }
  }



  .font-secondary {
    color: $secondary-text-color;
  }

  #content-wrapper {
    @include color($primary-text-color, $bg-color);
    background: url('/app/assets/Easydex-Backround-1-2.png') no-repeat center/cover;
  }

  hr {
    border-color: $dark-text-color;
    background-color: $dark-text-color !important;
  }

  a {
    color: $link-text-color;
    &:hover, &:focus, &:active {
      color: lighten($link-text-color, 4%);
    }
  }

  label, label > span {
    color: $primary-text-color;
  }

  // select:hover {
  //   background-color: $panel-bg-color;
  // }



  .label.success {
    color: $success-color;
    border-color: $success-color;
  }

  .label.info {
    color: $info-color;
    border-color: $info-color;
  }

  .label.warning {
    color: $warning-color;
    border-color: $warning-color;
  }

  .label.cancel, .label.alert {
    color: $alert-color;
    border-color: $alert-color;
  }

  .txtlabel.success {
    color: $success-color;
  }

  .txtlabel.info {
    color: $info-color;
  }

  .txtlabel.warning {
    color: $warning-color;
  }

  .txtlabel.cancel, .label.alert {
    color: $alert-color;
  }

  // notification

  .notification {
    @include color($primary-text-color, $light-panel-bg-color, true);
  }

  .notification-dismiss {
    @include color($primary-text-color, $super-light-panel-bg-color, true);
  }

  .notification-success {
    border-left-color: $success-color !important;
  }

  .action-sheet {
    @include color($light-text-color, $super-light-panel-bg-color);
    &::after {
      border-bottom-color: $super-light-panel-bg-color;
    }
    > ul > li > a {
      color: $light-text-color;
      border-top-color: $panel-bg-color;
      &:hover {
        @include color($light-text-color, lighten($super-light-panel-bg-color, 4%));
        // color: $link-text-color;
      }
    }
  }

  .__react_component_tooltip.type-light {
    @include color($light-text-color, $super-light-panel-bg-color, true);
    filter: drop-shadow(0 0 0px #080808);
    &.place-bottom:after {
      border-bottom-color: $super-light-panel-bg-color !important;
    }
    &.place-top:after {
      border-top-color: $super-light-panel-bg-color !important;
    }
    &.place-right:after {
      border-right-color: $super-light-panel-bg-color !important;
    }
    &.place-left:after {
      border-left-color: $super-light-panel-bg-color !important;
    }
  }

  .json-inspector__key {
    color: $secondary-text-color !important;
  }

  h1, h2, h3, h4, h5, h6 {
    color: $primary-text-color;
  }

  .modal {
    @include color($light-text-color, $light-panel-bg-color);
    .close-button {
      color: $secondary-text-color;
      &:hover {
        color: $primary-text-color;
      }
    }
    .modal-header {
      > h6 {
        color: $secondary-text-color;
      }
      &.has-error > h6 {
        color: $error-text-color
      }
    }
    .circle-wrapper {
      .circle:before {
        background-color: $primary-text-color;
      }
    }
    .table {
      > thead > tr > th, > tbody > tr > td {
        border-bottom-color: darken($secondary-text-color, 10%);
      }
    }

    h3{
      font-size: 1.5rem;
    }
  }

  .footer {
    @include color($secondary-text-color, $panel-bg-color-transparent);
    svg > path {
      fill: $secondary-text-color;
    }
    .logo .version {
      color: darken($secondary-text-color, 10%);
    }
  }

  .panel-left {
    @include color($light-text-color, $light-panel-bg-color);
    .block-list li > a {
      color: $light-text-color;
      &:hover {
        background-color: darken($light-panel-bg-color, 4%);
      }
    }
  }

  .tabs {
    @include color($secondary-text-color, $bg-color);
  }


  .page-layout {
    background-color: $panel-bg-color-transparent;

    .left-column {
      border-top-color: $bg-color;
      border-bottom-color: $bg-color;
      background-color: $panel-bg-color-transparent; //lighten($bg-color, 4%);

    }

    .left-column-2 {
      border-top-color: $bg-color;
      border-bottom-color: $bg-color;
      background-color: $panel-bg-color-transparent;
    }

    .main-content {
      //background-color: $bg-color;
      background-color: $panel-bg-color-transparent;
    }

    .right-column {
      border-top-color: $bg-color;
      border-bottom-color: $bg-color;
      background-color: $panel-bg-color-transparent;
    }

  }

  .transfer-top {
    background-color: $light-panel-bg-color;
    label, label > span {
      color: $light-text-color;
    }
  }

  // buttons

  .button {
    border-top:1px solid $button-bg-darkpurple-color;
    position:relative;
    background: $button-bg-darkpurple-color;
    &:hover, &:focus, &:active {
      background-color: lighten($button-bg-darkpurple-color, 10%) !important;
    }
    &.outline {
      color: $secondary-text-color;
      border-color: $secondary-text-color;
      &:hover {
        color: $light-text-color;
        border-color: $light-text-color;
      }
    }
  }
  .welcome  .create-account-btn.button:before {
    content:'';
    position:absolute;
    width:100%;
    height:1px;
    background:linear-gradient(to left, #B0A7C5, $button-bg-darkpurple-color);
    top:-1px;
    left:-1px;
  }

  .welcome  .login-btn.button:before {
    content:'';
    position:absolute;
    width:100%;
    height:1px;
    background:linear-gradient(to right, #B0A7C5, $button-bg-darkpurple-color);
    top:-1px;
    left: 1px;
  }

  .button.secondary {
    @include color($dark-text-color, $secondary-button-bg-color);
    &:hover, &:focus, &:active {
      @include color(lighten($dark-text-color, 4%), lighten($secondary-button-bg-color, 4%), true);
    }
  }

  .header .button,  .header .button:active {
    background-color: $panel-bg-color !important;
  }

  .header a.button.create-account {
    transition: color 0s !important;
    color: $button-bg-color !important;
    > span > svg > path {
      fill: $button-bg-color;
    }
    &:hover {
      color: lighten($button-bg-color, 10%) !important;
      > span > svg > path {
        fill: lighten($button-bg-color, 10%);
      }
    }
  }

  .grp-menu-item button {
    &:hover, &:focus, &:active {
      background-color: $light-panel-bg-color !important;
    }
  }

  .grp-menu-item {
    > a, .button {
      color: $primary-text-color /*!important*/;
    }
  }


  .header .logo {
    color: $secondary-text-color;
  }

  .header-right-menu {
    a:hover {background-color: lighten($panel-bg-color, 4%);}
    a.active {background-color: lighten($panel-bg-color, 4%);}
    li.current-account > a {
      color: $info-color;
      &:hover {
        color: $info-color;
      }
      > span { font-weight: bold; }
    }
    svg > path { fill: $secondary-text-color; }
    svg:hover > path { fill: $primary-text-color; }
  }

  .settings-cog {
    svg > path { fill: $secondary-text-color; }
  }

  // cards


  .card-section {
    color: black;
    padding-left: 0.5rem;
    > ul {
      color: $light-text-color;
      list-style: none;
      font-size: 85%;
      margin-left: 0;
    }
  }


  .card {
    @include color($primary-text-color, $panel-bg-color);
    background-color: $panel-bg-color;
    &:hover {
      background-color: lighten($panel-bg-color, 4%);
      > h4 {
        background-color: lighten($light-panel-bg-color, 4%);
      }
    }
    a {
      color: $primary-text-color;
    }
    .card-divider {
      @include color($primary-text-color, $light-panel-bg-color);
    }
    > h4 {
      background-color: $light-panel-bg-color;
    }
  }

  // tables
  .table {
    > thead > tr > th {
      border-bottom-color: $dark-text-color;
      color: $secondary-text-color;
    }
    > tbody > tr > td {
      border-bottom-color: $dark-text-color;
    }
    &.table-hover > tbody > tr:hover > td, .table-hover > tbody > tr:hover > th {
      background-color: lighten($bg-color, 4%);
    }
  }

  // block-list

  .block-list {
    color: $primary-text-color;
    li {
      border-bottom: 1px solid $border-color;
    }
    li > a {
      color: $secondary-text-color;
    }
    li > a:hover, li > label:hover, li select:hover, li.active > a {
      color: $light-text-color;
      background-color: lighten($bg-color, 4%);
    }
    li:first-child {
      border-top: 1px solid $border-color;
    }
    header {
      margin-left: 0;
      margin-bottom: 1rem;
      color: $secondary-text-color;
    }
  }


  // forms

  .right-label, .left-label {
    color: $secondary-text-color;

    > span {
      color: inherit;
    }
  }

  div.input-wrapper {
    > div.input-right-symbol {
      color: $secondary-text-color;
    }
  }

  .dropdown-wrapper {
    > div:first-of-type {
      color: $secondary-text-color;
    }

    ul.dropdown {
      @include color($light-text-color, $super-light-panel-bg-color);
      &::after {
        border-bottom-color: $super-light-panel-bg-color;
      }
      > li > span {
        color: $light-text-color;
      }
      /* Hover state */

      li:hover span {
        @include color($light-text-color, lighten($super-light-panel-bg-color, 4%));
        color: $link-text-color;
      }
    }

    &.active:after {
      border-color: $link-text-color transparent;
    }

    &:after { /* Little arrow */
      border-color: $secondary-text-color transparent;
    }
  }

  .account-image {
    .icon:hover {
      svg path {
        fill: darken($secondary-text-color, 5%);
      }
    }
  }
  .account-selector, .pubkey-input {
    .account-image {
      > canvas {
        color: black;
      }
      .icon > svg path {
        fill: $primary-text-color;
      }
      .icon:hover {
        svg path {
          fill: darken($secondary-text-color, 5%);
        }
      }
    }
  }
  .has-error, div.has-error > label, div.has-error > label > span {
    color: $error-text-color;
  }

  .has-warning, div.has-warning > label, div.has-warning > label > span {
    color: $warning-color;
  }

  div.has-error > input, div.has-error > input:hover, div.has-error > input:focus {
    border-color: $error-text-color;
  }

  .has-error input, .has-error select, .has-error textarea {
    border-color: $error-text-color;
  }

  input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="search"], textarea {
    background-color: $input-background;
    border: 0;
    color: $primary-text-color;
    &:hover, &:focus, &:active {
      background-color: $input-background;
    }
    &:focus {
      border-color: #aaa;
    }
  }

  .login .service-selector{
    border-bottom: none;
  }

  ul.button-group.segmented.login-tabs{
    > li.is-active > a {
      color: $primary-text-color;
      //background: #7560B0;
      background: #483e63
    }
  }


  ul.button-group.segmented {
       > li.is-active > a {
         background-color: #370f8b;
       }
     > li > a {
       background-color: #250A5D;
       color: $primary-text-color;
       &:hover, &:focus, &:active {
         color: $primary-text-color;
         background-color: #370f8b;
       }
     }
  }
  // Tabs

  .tabs {
    border-bottom-color: $dark-text-color;
    > .tab-item {
      color: $secondary-text-color;
      &.is-active {
        color: $primary-text-color;
        border-bottom-color: $button-bg-color;
      }
      &:hover, &:focus, &:active {
        color: $primary-text-color;
      }
    }
  }



  // Exchange

  .depthchart {
    background-color: $bg-color;
    &:hover {
      background-color: $bg-color;
    }
    &.area {
      color: #FFF;
    }
  }

  .bid-total {
    color: $bid-color !important;
  }

  .ask-total {
    color: $ask-color !important;
  }

  .stats .stat .negative {
    color: $negative-color !important;
  }

  .stats .stat .positive {
    color: $positive-color !important;
  }

  .value.negative {
    color: $ask-color !important;
    font-weight: bold;
  }

  .value.positive {
    color: $bid-color !important;
    font-weight: bold;
  }

  .active-bucket {
    background-color: lighten($light-panel-bg-color, 12%) ;
  }

  .bucket-option:hover {
    background-color: $panel-bg-color;
  }

  .buy-sell-box {
    background-color: lighten($light-panel-bg-color, 12%);

    > select {
      background-color: lighten($light-panel-bg-color, 12%);
      background: lighten($light-panel-bg-color, 12%) url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20version%3D%221.1%22%20width%3D%2232%22%20height%3D%2224%22%20viewBox%3D%220%200%2032%2024%22%3E%3Cpolygon%20points%3D%220%2C0%2032%2C0%2016%2C24%22%20style%3D%22fill%3A%20black%22%3E%3C/polygon%3E%3C/svg%3E") right 10px center no-repeat;
    }
  }

  .buy-sell-input > input.no-balance {
    color: $alert-color;
  }

  // Account page
  .account-left-panel {
    h5 {
      color: $primary-text-color;
    }
    h6 {
      font-weight: bold;
    }
    .bottom {
      border-top-color: $bg-color;
    }

    .advanced-toggle > a {
      color: $primary-text-color;
    }

    a.pay-button {
      background-color: $bg-color;
      color: $primary-text-color;

      &:hover {
        background-color: $light-panel-bg-color !important;
      }
    }

    div.create-account-button {
      background: transparent;
      border: 2px solid $button-bg-color;

      > a {
        font-weight: bold;
        color: $primary-text-color;
      }
    }


  }

  .account-info {
    color: $primary-text-color;
    > p:first-of-type {
      color: $light-text-color;
    }
    .account-title {
      &.flash {
        color: white;
      }
    }
    > div.secondary {
      > span:first-of-type {
        color: $primary-text-color;
      }

      > span:last-of-type {
        color: $secondary-text-color;
      }
    }
  }

  .my-account h5, .my-account h4, td.my-account {
    font-weight: bold;
    color: $info-color;
  }

  .account-left-menu {
    > li > a:hover, > li > label:hover, > li select:hover {
      color: $light-text-color;
      background-color: lighten($panel-bg-color, 5%);
    }
    > li > a.active {
      color: $light-text-color;
      background-color: lighten($panel-bg-color, 4%);
      border-right-color: darken($button-bg-color, 4%);
    }
  }


  .pagination {
    background-color: $panel-bg-color;
  }

  .invoice {
    .item-description {
      color: $secondary-text-color;
    }
  }

  // Formatted assets
  .facolor-success {
    color: $success-color;
  }

  .facolor-alert {
    color: $alert-color;
  }

  .facolor-warning {
    color: $warning-color;
  }

  .facolor-info {
    color: $info-color;
  }

  .facolor-error {
    color: $error-text-color;
  }

  .facolor-fee {
    color: $fee-color;
  }

  // AccountSelector component
  .error-area {
    color: $error-text-color;
  }
  .account-selector {
    .right-label {
      color: $secondary-text-color;
    }
  }

  .icon.success {
    padding-right: 1rem;
    > svg > path {
      fill: $success-color;
    }
  }

  .icon.error {
    padding-right: 1rem;
    > svg > path {
      fill: $warning-color;
    }
  }

  .circle-wrapper {
    .circle:before {
      background-color: $secondary-text-color;
    }
  }

  // Misc

  .chart-zoom-dropdown {
    width:24px;
    height: 28px;
    padding: 4px;
    opacity: 0.5;
    overflow: hidden;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;

    &:hover, &:active, &:focus {
      background-color: $bg-color;
      padding: 4px;
      opacity: 0.85;
      border-radius: 2px;
      color: $light-text-color;
      font-size: 60%;
      width:348px;
      height: 48px;
    }
  }

  .remove {
    color: $alert-color;
    border: none;
    padding: 2px 4px;
    font-size: 120%;
    background-color: transparent;
    border-radius: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    &:hover, &:active, &:focus {
      color: $light-text-color;
      background-color: $alert-color;
      font-size: 120%;
      border-radius: 2px;
    }
  }

  .memo {
    color: $secondary-text-color;
  }

  .help-content {
    code {
      color: $primary-text-color;
      background-color: transparent;
      border-color: $dark-text-color;
    }

    h5{
      font-weight: bold;
    }
  }


  .click-for-help {
    border-bottom-color: $secondary-text-color !important;
  }

  // Block List (section)
  section.block-list input[type="text"], section.block-list input[type="password"] {
    border-bottom: 1px solid $panel-bg-color;
    background-color: transparent;
    color: $primary-text-color;
    &:hover, &:active, &:focus {
      color: $primary-text-color;
      background-color: transparent;
      border-bottom: 1px solid $panel-bg-color;
    }
  }

  .remove {
    color: $alert-color;
    border: none;
    padding: 2px 4px;
    font-size: 120%;
    background-color: transparent;
    border-radius: 0;
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    transition: all .5s ease;
    &:hover, &:active, &:focus {
      color: $light-text-color;
      background-color: $alert-color;
      font-size: 120%;
      border-radius: 2px;
    }
  }

  .menu-group.primary, .menu-group.primary .menu-bar {
    background-color: $panel-bg-color;
    .menu-bar > li {

      > a {
        color: $primary-text-color;
      }

      > a:hover {
        background-color: lighten($panel-bg-color, 5%) !important;
      }

      > a.active {
        background-color: lighten($panel-bg-color, 5%) !important;
      }
    }
  }


  // Asset Detail

  .asset-card {
    .card-divider {
      background: $panel-bg-color;
    }
  }


  // Exchange
  .mymarkets-header {
    border-bottom-color: $button-bg-color;
    &.inactive {
      border-bottom-color: transparent;
      color: $secondary-text-color;
    }
  }

  .exchange-content-header {
    color: $light-text-color;
    background: $header-color !important;
    border-bottom: 1px solid $button-bg-color;
    &.bid {
      border-bottom: 1px solid $bid-color;
    }

    &.ask {
      border-bottom: 1px solid $ask-color;
    }
  }

  // .block-content-header {
  //   //text-transform: uppercase;
  //   @include RobotoLight;
  // }

  td.orderHistoryBid {

    > span.price-integer, > span > span.price-integer {
      font-weight: bold;
      color: $bid-color;
    }

    > span.price-decimal, > span > span.price-decimal {
      color: $primary-text-color;
      opacity: 0.6;
    }


  }

  .orderbook td.orderHistoryBid {
    > span.price-integer, > span > span.price-integer {
      font-weight: bold;
      color: $primary-text-color;
    }
  }

  td.orderHistoryAsk  {


    > span.price-integer, > span > span.price-integer {
      font-weight: bold;
      color: $ask-color;
    }

    > span.price-decimal, > span >span.price-decimal {
      color: $primary-text-color;
      opacity: 0.6;
    }

  }

  .orderbook td.orderHistoryAsk {

    > span.price-integer, > span > span.price-integer {
      font-weight: bold;
      color: $primary-text-color;
    }
  }

  td.orderHistoryCall {
    > span.price-integer, > span > span.price-integer {
      font-weight: bold;
      color: $call-color;
    }

    > span.price-decimal, > span >span.price-decimal {
      color: $primary-text-color;
      opacity: 0.6;
    }
  }

  table.order-table > tbody, tbody.orderbook {
    > tr.my-order > td {
      font-weight: bold;
      color: $info-color;
      > span.price-integer, > span > span.price-integer, > span >span.price-decimal {
        color: $info-color;
        opacity: 1;
      }
    }
  }

  .bid {
    background-color: #6BA583 !important;
  }

  .ask {
    background-color: #C0041A !important;
  }

  .orderbook-latest-price {
    > div {
      background-color: $panel-bg-color !important;
      border-bottom: 1px solid grey !important;
      border-top: 1px solid grey !important;
      padding: 10px 0 !important;
      font-weight: bold;
      font-size: 13px;
    }
  }


  .order-table {

    > tbody > tr:nth-of-type(even) {
      background-color: $row-accent-color;
    }
  }

  .mymarkets-header {
    background-color: $header-color;
  }

  tr.activeMarket, tr.activeMarket:hover {
    color: #4C85D8;
    background-color: $header-color;
  }

  .market-stats .stat .value {
    color: $primary-text-color;
  }

  li.stat.input {
    &:hover {background-color: lighten($panel-bg-color, 4%);}
  }
  .stats .stat {
    > span {
      > span:first-of-type {
        color: $primary-text-color;
      }

      > span.symbol-text {
        color: #468EDE;
      }
    }
    &.is-call {
      >span > b {
        color: $call-color;
      }
    }
  }

  .buy-sell-box {
    background-color: $header-color;

    > select {
      padding: 0;
      margin: 0;
      height: 1.75rem;
      line-height: 1.75rem;
      border: none;
      color: $primary-text-color;
      background-size: 8px 8px;
      background-color: $header-color;
      font-size: 12px;

      > option {
        color: $chat-text-color;
      }
    }
  }

  .change-up {
    color: $positive-color !important;
  }

  .change-down {
    color: $negative-color !important;
  }

  .header-sub-title {
    font-size: 80%;
    color: $light-text-color;
  }

  .label {
    background-color: $panel-bg-color;
  }

  .mymarkets-group-header {
    background-color: $header-color;
    padding: 8px 35px;
    border-bottom: 1px solid grey;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
  }

  div.bid-green{
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 6px 10px;
    overflow: hidden;
    color: #fff;

    background: #6BA583 !important;
  }
  div.ask-red{
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    padding: 6px 10px;
    overflow: hidden;
    color: #fff;

    background: #C0041A !important;
  }
  div.exchange-content-header {
    background: $header-color !important;
  }


  .table > tbody > tr:nth-of-type(even) {
    background-color: lighten($bg-color, 4%);
  }
  //bottom stats
  .bucket-option {
    @include button-focus($secondary-text-color, $panel-bg-color, 0);
    &:hover {
      @include button-focus($primary-text-color, $panel-bg-color, 10);
    }
  }

  .active-bucket {
    @include button-focus($primary-text-color, $panel-bg-color, 10);
  }


  .indicators, li.stat.clickable{
    color: $secondary-text-color;
    // &:hover{
    //   @include button-focus($primary-text-color, $panel-bg-color, 10);
    // }
  }


  .mymarkets-tabs {
    > li {
      @include button-focus($secondary-text-color, $panel-bg-color, 0);
      &:hover {
        @include button-focus($primary-text-color, $panel-bg-color, 10);
      }

      &.active {
        @include button-focus($primary-text-color, $panel-bg-color, 10);
      }
    }
  }

  .mymarkets-list {
    border-top: 2px solid $panel-bg-color;
  }

  select.bts-select, select.native-coin-types, select.external-coin-types {
    color: $secondary-text-color;
    background-color: $input-background;
    border: 0;
    &:hover, &:focus, &:active {
      background-color: $input-background;
    }
  }


  div.fm-container:hover {
    background-color: darken($light-panel-bg-color, 5%);
    cursor: pointer;
  }

  #chatbox {
    .chat-text {
      color: $light-text-color;

    }

    .chatbox{
      background-color: $header-color;
      color: $light-text-color;
    }

    .chatbox-content {

    }

    .chatbox-title {
      background-color: $button-bg-color !important;
    }

    select {
      height: 3rem;
      font-size: 12px;
    }

    input {
      color: $chat-text-color;
    }
  }

  // Settings
  .settings-menu {
    margin-left: 0;
    > li {
      padding: .2rem 1rem;
      &:hover {
        background-color: darken($light-panel-bg-color, 5%);
      }

      &.active {
        color: $link-text-color;
      }
    }
  }

  a {
    &.order-cancel > .icon > svg {
      > path {
        fill : $negative-color;
      }
    }

    &.action-plus > .icon > svg {
      > path {
        fill : $positive-color;
      }
    }
  }

  tr.margin-row {
    > td.danger {
      background-color: darken($alert-color, 15%) !important;
      color: $dark-text-color;
      font-weight: bold;
    }

    > td.warning {
      background-color: darken($warning-color, 15%) !important;
      color: $dark-text-color;
      font-weight: bold;
    }
  }

  .react-stockcharts-tooltip {
    fill: $primary-text-color;
  }
  .react-stockcharts-tooltip-label {
    fill: $link-text-color;
  }

  div.custom-dropdown-content {
    background: $panel-bg-color;
    color: $primary-text-color;
    > ul > li {
      &.clickable:hover {
        background-color: lighten($panel-bg-color, 5%);
      }
      > div.clickable:hover {
        background-color: lighten($panel-bg-color, 5%);
      }
    }
  }

  .blocktrades-bridge input, .blocktrades-bridge select{
    color: $secondary-text-color;

    border: 1px solid $secondary-text-color;
    background-color: $panel-bg-color !important;
    &.native-coin-types, &.external-coin-types {
      background-color: transparent !important;
    }
    > option {
      color: $primary-text-color;
      background-color: $panel-bg-color !important;
    }
    &:hover, &:focus {
      color: $primary-text-color;
      //box-shadow: 1px 2px 3px #000;
      border: 2px solid $primary-text-color;
    }
  }

  /*OL addon */

  h4 {
    padding: 30px 0 10px 0;
    border-bottom: 1px solid $dark-text-color;
    margin: 0 0 35px 0;
  }

  .vertical{
    [type=password]{
      height: auto;
    }
  }

  .symbols_input {
    text-align: center;
    position: relative;
    input[type=text] {
      text-align: left;
      display: block;
      background: none;
      z-index: 10;
      color: #000;
      position: relative;
      text-transform: uppercase;
    }
    &>div {
      position: relative;
      display: inline-block;
      width: 130px;
      margin: 10px;
      &>.hide_tooltip {
        background: rgba(2, 0, 0, .1);
        z-index: 0;
        background: #fff;
        position: absolute;
        color: #aaa;
      }
    }
  }

  .orders-switch input+label {
    background: #50d2c2;
    border-color: #50d2c2;
  }
  .orders-switch input:checked+label {
    background: #e3745b;
    border-color: #e3745b;
  }
  .orders-switch input+label:after {
    border-color: #50d2c2;
  }
  .switch input:checked + label::after {
    border-color: inherit;
  }
  .error {
    color: #e3745b;
  }


  .SimpleTrade__modal {
    .Modal__header {
      background-color: lighten($panel-bg-color, 5%);
    }
    .Modal__divider {
      border-bottom: 2px solid #020202;
    }
  }

  .simpleMode_wallet{
    font-size: 9px;
    bottom: 2px;
    line-height: 1;
    text-align: center;
  }

  ul.dashboard-links {
    > li.active {
      color: $primary-text-color;
    }
  }

  .switch input:checked + label{
    background-color: darken($positive-color, 10%);
    &::after {
      border: none;
      background-color: lighten($positive-color, 5%);
    }
  }

  div.Account_create {
    button.submit-button, div.backup-submit .button {
      background-color: $warning-color;
    }

    label > a {
      color: $secondary-text-color;
    }
  }

  div.ok-indicator {
    color: $secondary-text-color;
    &.success {
      color: $success-color;
    }
  }

  .popups{
    .addcoin_text{
      font-size: 1rem;
      font-variant: normal;
      font-family: Arial;
      text-transform: none;
    }
    h6{
      font-size: 1.3rem;
    }
    a{
      text-decoration: none;
    }
  }

  .pointer{
    cursor: pointer;
    justify-content: center;
  }

  @media screen and (max-height: 678px) {
    #addcoin{
      height: 100%;
      overflow: auto !important;
    }
  }


  .login-selector {
    > div.box {
      // background-color: $panel-bg-color;
      /* &:hover {
           background-color: darken($panel-bg-color, 2%);
       }*/
      a {
        color: $primary-text-color;
      }
    }
  }

  table.table > tbody > tr.in-use {
    > td:nth-child(2) {
      font-weight: bold;
    }
  }

  .SimpleDepositBridge__info-row {
    > div {
      > div.float-right {
        &.above-limit {
          color: $error-text-color;
        }
      }
    }
  }

  input.my-key, td.my-key a {
    font-weight: bold;
    color: $info-color;
  }

  /* Table view account */
  div.overview-tabs {
    background-color: $account-background;
    > div.service-selector {
      background-color: $button-bg-darkpurple-color;
    }
  }
  ul.account-overview {

    li {
      > a {
        color: $account-dimmed;
        background-color: $button-bg-darkpurple-color;
        border: none;
        transition: .3s;
        &:hover {
          background-color: lighten($button-bg-darkpurple-color, 10%);
          color: $account-primarytext;
        }
        > div.tab-subtext {
          margin-top: 3px;
          color: $account-green;
        }
      }
      &.is-active {
        background-color: lighten($button-bg-darkpurple-color, 10%);
        > a {
          color: $account-primarytext;
          background-color: lighten($button-bg-darkpurple-color, 10%) !important;
        }
      }
      &.total-value {
        > a {
          background-color: $account-cells;
          &:hover > span.tab-title {
            color: $account-dimmed;
          }
        }
        .icon.locked > svg > path {
          fill: $button-bg-color;
        }
      }
    }
  }

  table.table.dashboard-table {
    > thead > tr > th {
      background-color: #1d222c;
      color: $account-primarytext;
      border-color: $account-border;
      &:first-of-type {
        border-left: 1px solid $account-border;
      }
      &:last-of-type {
        border-right: 1px solid $account-border;
      }
    }
    > tbody > tr {
      > td {
        background-color: #1d222c;
        color: $account-primarytext;
        border-color: $account-border;
        .icon > svg > path {
          //fill: $account-primarytext;
        }

        .icon.locked > svg > path {
          fill: $button-bg-color;
        }
      }
      &.total-value {
        td {
          background-color: #1d222c;
        }
        td:nth-child(n+2) {
          color: $account-green;
          text-align: right;
        }
      }

      &.unsupported {
        > td {
          color: grey;
          > a {
            color: grey;
          }

          svg > path {
            fill: grey;
          }
        }
      }
    }
  }

  div.account-creation {
    background-color: $account-cells;

    div.button > a {
      color: $primary-text-color;
    }
  }
  span.danger {
    color: darken($alert-color, 15%);
  }
  span.warning {
    color: darken($warning-color, 15%);
  }

  .footer {
    div.footer-status {
      > span.success {
        color: $success-color;
      }
      > span.warning {
        color: $alert-color;
      }
    }
  }
  .light-text {
    color: $light-text-color;
  }
}


.starToAccount{
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 35px;
  & + .floating-dropdown .dropdown-wrapper{
    padding-left: 5px;
    padding-right: 5px;
  }
}

.iconRemoveFavorites{
  position: absolute;
  z-index: 10;
  top: 0px;
  right: 0px;
  .icon{
    top: 2px;
    padding: 0 !important;
    & > svg > path{
      fill: #E1424A;
    }
  }
}

#residents_confirm{
  text-transform: none;
}

.centeredContainer{
  display: flex;
  align-items: center;
}

