head {
    background: url(./1.png);
    background: url(./blockpay.png);
    background: url(./btc.png);
    background: url(./heat.png);
    background: url(./bts.png);
    background: url(./btsr.png);
    background: url(./cny.png);
    background: url(./dao.png);
    background: url(./dash.png);
    background: url(./dct.png);
    background: url(./dgd.png);
    background: url(./eth.png);
    background: url(./edev.png);
    background: url(./eur.png);
    background: url(./eurt.png);
    background: url(./etp.png);
    background: url(./game.png);
    background: url(./gold.png);
    background: url(./grc.png);
    background: url(./icoo.png);
    background: url(./incnt.png);
    background: url(./lisk.png);
    background: url(./nxc.png);
    background: url(./obits.png);
    background: url(./peerplays.png);
    background: url(./reality.png);
    background: url(./steem.png);
    background: url(./usd.png);
    background: url(./usdt.png);
    background: url(./btwty.png);
    background: url(./hempsweet.png);
    background: url(./obits.warrant.png);
    background: url(./appx.warrant.png);
    background: url(./yoyow.png);
    background: url(./zengold.png);
    background: url(./museol.png);
    background: url(./muse.png);
    background: url(./cvcoin.png);
    background: url(./func.png); 
    background: url(./waves.png); 
    background: url(./omg.png);
    background: url(./eos.png);
    background: url(./zrx.png);
    background: url(./sonm.png);
    background: url(./xpo.png);
    background: url(./atm.png);
    background: url(./krm.png);
    background: url(./sky.png);
    background: url(./xdrac.png);
    background: url(./esc.png);
    background: url(./sol.png);
    background: url(./ivc.png);
}


