
#list should be ordered by priority
#higher to lower
[nodes]
urls =
        ws://93.104.208.139:8090
        wss://dex.rnglab.org
		wss://bit.btsabc.org/ws
		wss://node.btscharts.com/ws
		wss://bitshares.apasia.tech/ws
		wss://japan.bitshares.apasia.tech/ws
		wss://bitshares.dacplay.org/ws
		wss://bitshares-api.wancloud.io/ws
		wss://openledger.hk/ws
		wss://bitshares.crypto.fans/ws
		wss://ws.gdex.io
		wss://ws.gdex.top
		wss://eu.openledger.info/ws
		wss://dexnode.net/ws
		wss://la.dexnode.net/ws
		wss://kc-us-dex.xeldal.com/ws
		wss://btsza.co.za:8091/ws
		wss://api.bts.blckchnd.com
		wss://api-ru.bts.blckchnd.com
		wss://node.market.rudex.org
		wss://eu.nodes.bitshares.ws
		wss://us.nodes.bitshares.ws
		wss://sg.nodes.bitshares.ws
		wss://ws.winex.pro
		wss://api.bts.mobi/ws
		wss://api.btsxchng.com
		wss://api.bts.network
		wss://btsws.roelandp.nl/ws
		wss://api.bitshares.bhuz.info/ws
		wss://bts-api.lafona.net/ws
		wss://kimziv.com/ws
		wss://api.btsgo.net/ws
		wss://bts.proxyhosts.info/wss
		wss://bts.open.icowallet.net/ws
		wss://blockzms.xyz/ws
		wss://crazybit.online
		wss://freedom.bts123.cc:15138/
		wss://bitshares.bts123.cc:15138/
		wss://api.bts.ai/
		wss://ws.hellobts.com/
		wss://bitshares.cyberit.io/
		wss://bts-seoul.clockwork.gr/
		wss://bts.to0l.cn:4443/ws
        wss://bitshares.nu/ws

#address should start with tcp (websocket) or icp (unix socket)
[sockets]
server = tcp://0.0.0.0:4242
client = https://api.easydex.net/

[wallet]
port = 8092
address = localhost
password = bitshares322
